@import "../../variables";

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
}

img {
  height: 200px;
  margin: 5px;
}

form p {
  margin-top: 0;
  font-size: 13px;
  font-weight: bold;
  color: $bela-dark-gray;
}

input {
  display: none
}

label {
  display: inline-block;
  cursor: pointer;
  img {
    border-radius: 10px;
    transition: 50ms;
  }
}

input:checked ~ img {
  transform: scale(1.05);
  box-shadow: 0 0 3px 5px #F0BD17;
}

h3 {
  display: inline;
}

.green_button, .orange_button {
  width: 50px;
  margin: 5px;
}

.green_button {
  margin-left: 30px;
}
