<div class="container">
  <div id="rival2" class="flex_center_center" [class.turn]="turn === orderedUsernames[3]">
    <span> {{ orderedUsernames ? orderedUsernames[3] : '' }} </span>
  </div>
  <div id="partner" class="flex_center_center" [class.turn]="turn === orderedUsernames[2]">
    <span> {{ orderedUsernames ? orderedUsernames[2] : '' }} </span>
  </div>
  <div id="rival1" class="flex_center_center" [class.turn]="turn === orderedUsernames[1]">
    <span> {{ orderedUsernames ? orderedUsernames[1] : '' }} </span>
  </div>

  <div *ngFor="let c of playedCards"
       class="cards"
       [class.c0]="c.username === orderedUsernames[0]"
       [class.c1]="c.username === orderedUsernames[1]"
       [class.c2]="c.username === orderedUsernames[2]"
       [class.c3]="c.username === orderedUsernames[3]">
    <img src="{{'../../../assets/' + c.card + '.png'}}" alt="{{ c.card }}">
  </div>

</div>
