<ul *ngIf="(!cardsToButtons && !cardsToCheckboxes) || (socketsService.playedCards.length === 4)">
  <li *ngFor="let card of hand; let i = index">
    <img *ngIf="display8 || i < 6"
         src="{{'../../../assets/' + card + '.png'}}"
         alt="{{ card }}">
  </li>
</ul>

<form [formGroup]="scaleForm" *ngIf="cardsToCheckboxes">
  <div class="flex_center_center">
    <h3>Imaš li zvanja?</h3>
    <button class="green_button" (click)="calledScale($event)">YAS</button>
    <button class="orange_button" (click)="calledScale($event)">NAH</button>
  </div>
  <p>Svako zvanje prijaviti odvojeno, počevši od onoga koje nosi najviše bodova</p>

  <label *ngFor="let card of hand">
    <input type="checkbox" [value]="card" (change)="onCheckChange($event)">
    <img src="{{'../../../assets/' + card + '.png'}}" alt="{{ card }}">
  </label>
</form>

<div *ngIf="cardsToButtons && socketsService.playedCards.length !== 4">
  <div class="flex_center_center" *ngIf="bela.callBela">
    <h3>Želiš li zvati belu?</h3>
    <button class="green_button" (click)="callBela(true)">YAS</button>
    <button class="orange_button" (click)="callBela(false)">NAH</button>
  </div>

  <button class="play_card_button" *ngFor="let card of hand" (click)="playCard(card)">
    <img src="{{'../../../assets/' + card + '.png'}}" alt="{{ card }}">
  </button>
</div>
