<table class="p_center" *ngIf="socketService.roomCapacity === 4">
  <thead><tr>
    <th>A</th>
    <th>B</th>
  </tr></thead>
  <tbody><tr *ngFor="let p of socketService.points.games">
    <td>{{ p.A }}</td>
    <td>{{ p.B }}</td>
  </tr></tbody>
  <tfoot><tr>
    <td>{{ socketService.points.total.A }}</td>
    <td>{{ socketService.points.total.B }}</td>
  </tr></tfoot>
</table>

<table class="p_center" *ngIf="socketService.roomCapacity === 3">
  <thead><tr>
    <th>{{ users[0] }}</th>
    <th>{{ users[1] }}</th>
    <th>{{ users[2] }}</th>
  </tr></thead>
  <tbody><tr *ngFor="let p of socketService.points.games">
    <td>{{ p[0] }}</td>
    <td>{{ p[1] }}</td>
    <td>{{ p[2] }}</td>
  </tr></tbody>
  <tfoot><tr>
    <td>{{ socketService.points.total[0] }}</td>
    <td>{{ socketService.points.total[1] }}</td>
    <td>{{ socketService.points.total[2] }}</td>
  </tr></tfoot>
</table>
