@import "../../scss/variables";

.container {
  background-color: $bela-light-green;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  width: 411px;
  border-radius: 4px;
}

.form-group {
  position: relative;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 18px;
  color: $bela-gray;
  font-size: 16px;
  text-indent: 12px;
  transition: .3s;
}

input {
  background-color: white;
  height: 56px;
  width: 100%;
  padding-top: 25px;
  font-size: 16px;
  text-indent: 12px;
  outline: none;
  border: none;
  border-bottom: 1px solid $bela-gray;
  border-radius: 4px 4px 0 0;

  &:focus {
    border-bottom: 2px solid $bela-orange;
  }

  &:focus ~ label, &:valid ~ label {
    top: -10px;
    font-size: 13px;
  }
}

.invalid-feedback p {
  font-size: 12px;
  margin: 10px 0 0;
}

.green_button {
  float: right;
}
