@import "../../scss/variables";

h3 {
  line-height: 40px;
}

.form-group {
  position: relative;
  margin: 15px 15px 30px;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 18px;
  color: $bela-gray;
  font-size: 16px;
  text-indent: 12px;
  transition: .3s;
}

input {
  background-color: white;
  height: 56px;
  width: 235px;
  padding-top: 25px;
  font-size: 16px;
  text-indent: 12px;
  outline: none;
  border: none;
  border-bottom: 1px solid $bela-gray;
  border-radius: 4px 4px 0 0;

  &:focus {
    border-bottom: 2px solid $bela-orange;
  }

  &:focus ~ label, &:valid ~ label {
    top: -10px;
    font-size: 13px;
  }
}

.invalid-feedback p {
  font-size: 12px;
  position: absolute;
  margin: 5px 0 0;
  color: $bela-dark-orange;
}

.room_btn {
  background: transparent;
  border: none;
  margin-bottom: 10px;

  img {
    opacity: 0.7;
    width: 35px;
    height: 35px;
    margin: 5px;
    transition: all 200ms;
  }

  &:hover img {
    opacity: 1;
    transform: scale(1.2);
  }
}
