<div class="container">
  <h2 class="p_center">Prijava</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <input type="text" id="username" formControlName="username" pattern="^[^<>]+$" required/>
      <label for="username">Korisničko ime</label>
      <div *ngIf="submitted && loginForm.controls.username.errors" class="invalid-feedback">
        <p *ngIf="loginForm.controls.username.errors.required">Obavezno polje</p>
        <p *ngIf="loginForm.controls.username.errors.pattern">Molimo odaberite drugo korisničko ime</p>
      </div>
    </div>
    <button class="green_button" type="submit">Prijava</button>
  </form>
</div>
