<div *ngIf="hand.length === 0" class="flex_center_center">No hand</div>

<div *ngIf="hand.length !== 0">
  <div *ngIf="trump" class="trump p_center">
    <h3>Adut</h3>
    <img src="{{'../../../assets/' + trump.trump + '.png'}}" alt="{{ trump.trump }}">
    <p>{{ trump.username }}</p>
  </div>

  <div *ngIf="orderUsers.length === 3">
    <div id="rival2" class="flex_center_center">
      {{ orderUsers[1] }}
    </div>
    <div id="partner" class="flex_center_center">
      {{ orderUsers[0] }}
    </div>
    <div id="rival1" class="flex_center_center">
      {{ orderUsers[2] }}
    </div>
  </div>

  <app-hand class="p_center" [hand]="hand" [display8]="display8"></app-hand>
</div>
