<div *ngIf="!showHand" class="spinner"></div>

<app-no-hand *ngIf="showHand && hand.length === 0"></app-no-hand>

<mat-sidenav-container *ngIf="showHand && hand.length !== 0">
  <mat-sidenav #sidenav mode="side" opened>
    <app-sidenav class="flex_column_space_between"
                 [trump]="socketsService.trump"
                 [points]="socketsService.points"
                 [scaleAnnouncements]="socketsService.scaleAnnouncements">
    </app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <button (click)="sidenav.toggle()">
      <google-icon name="more_vert"></google-icon>
    </button>

    <div class="flex_column_space_between">
      <app-table [orderedUsernames]="orderedUsernames"
                 [turn]="turn"
                 [playedCards]="socketsService.playedCards">
      </app-table>

      <app-hand class="p_center"
                [hand]="hand"
                [display8]="display8"
                [cardsToButtons]="cardsToButtons">
      </app-hand>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
