#other_info {
  position: absolute;

  #trump {
    margin: 20px 20px 0;
    padding: 10px;
    background-color: #eee;
    display: inline-block;

    h3, p {
      margin: 0;
    }

    img {
      max-height: 80px;
      margin: 10px 0;
    }
  }

  #scales {
    margin: 20px 20px 0;
    padding: 10px 25px;
    background-color: #eee;
  }
}

app-score-board {
  position: absolute;
  margin: 20px 20px 0;
  right: 0;
}

app-hand {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

app-table {
  display: block;
  margin: 0 auto;
  width: 60vw;
  height: 400px;
}

.notify {
  position: relative;
  display: inline-block;
  margin: 10px 25vw;
}
