<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <app-sidenav class="flex_column flex_space_between"
                 [trump]="socketsService.trump"
                 [points]="socketsService.points"
                 [teams]="socketsService.teams">
    </app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <button class="grey_button" (click)="sidenav.toggle()">
      <mat-icon>more_vert</mat-icon>
    </button>

    <div class="flex_column flex_space_between">
      <app-main-four *ngIf="roomCapacity === 4"
                     [orderedUsernames]="orderedUsernames"
                     [turn]="socketsService.turn"
                     [scales]="socketsService.scales"
                     [playedCards]="socketsService.playedCards">
      </app-main-four>

      <app-main-three *ngIf="roomCapacity === 3"
                      [orderedUsernames]="orderedUsernames"
                      [turn]="socketsService.turn"
                      [scales]="socketsService.scales"
                      [playedCards]="socketsService.playedCards"></app-main-three>

      <app-hand class="p_center"
                [hand]="hand"
                [displayAll]="displayAll"
                [cardsToButtons]="cardsToButtons">
      </app-hand>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
