.pick_trump_button {
  margin: 0 10px;
  background: #eee;
  border: none;
  border-radius: 50px;
  opacity: 0.8;
  transition: opacity .1s ease-in;

  img {
    height: 80px;
  }

  &:hover {
    opacity: 1;
  }
}
