<section>
  <div *ngFor="let i of [0, 1, 2];"
       class="username flex_center_center"
       [class.turn]="turn === orderedUsernames[i]">
    <span> {{ orderedUsernames ? orderedUsernames[i] : '' }} </span>
  </div>

  <div class="container">
    <div *ngFor="let s of scales"
         class="scales"
         [class.s0]="s.username === orderedUsernames[0]"
         [class.s1]="s.username === orderedUsernames[1]"
         [class.s2]="s.username === orderedUsernames[2]">
      {{ s.points }}
    </div>

    <div *ngFor="let c of playedCards"
         class="cards"
         [class.c0]="c.username === orderedUsernames[0]"
         [class.c1]="c.username === orderedUsernames[1]"
         [class.c2]="c.username === orderedUsernames[2]">
      <img src="{{'assets/' + c.card + '.png'}}" alt="{{ c.card }}">
    </div>
  </div>
</section>
