@import "../../scss/variables";

.flex_center_center {
  height: 100vh;
  background: radial-gradient(white, $bela-light-green);
}

h2 {
  font-size: 4em;
  padding-bottom: .5em;
  border-bottom: 3px solid $bela-green;
}
