<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <app-sidenav class="flex_column flex_space_between"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <button class="grey_button" (click)="sidenav.toggle()">
      <mat-icon>more_vert</mat-icon>
    </button>

    <div class="flex_column flex_space_between">
      <app-main-four *ngIf="socketService.roomCapacity === 4"></app-main-four>
      <app-main-three *ngIf="socketService.roomCapacity === 3"></app-main-three>

      <app-hand class="p_center"></app-hand>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
