@import "variables";
@import "mixins";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

* {
  font-family: Verdana, sans-serif;
  box-sizing: border-box;
}

.p_center {
  text-align: center;
}

.flex_center_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2, h3 {
  color: $bela-green;
  text-transform: uppercase;
}

button {
  cursor: pointer;
}

.green_button {
  @include action_buttons($bela-green);
}

.orange_button {
  @include action_buttons($bela-orange);
}
